

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
body {
	Margin: 0!important;
	padding: 15px;
	background-color: #FFF;
}
.wrapper {
	width: 100%;
	table-layout: fixed;
}
.wrapper-inner {
	width: 100%;
	background-color: #eee;
	max-width: 670px;
	Margin: 0 auto;
}
table {
	border-spacing: 0;
	font-family: sans-serif;
	color: #727f80;
}
.outer-table {
	width: 100%;
	max-width: 670px;
	margin: 0 auto;
	background-color: #FFF;
}
td {
    padding: 0;
}
.header {
    background-color: #C2C1C1;
    border-bottom: 3px solid #81B9C3;
}
p {
    Margin:0;
}
.header p {
    text-align: center;
    padding: 1%;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}
a {
    color: #F1F1F1;
    text-decoration: none;
}
/*--- End Outer Table 1 --*/
.main-table-first {
	width: 100%;
	max-width: 610px;
	Margin: 0 auto;
	background-color: #FFF;
	border-radius: 6px;
	margin-top: 25px;
}
/*--- Start Two Column Sections --*/
.two-column {
    text-align: center;
    font-size: 0;
    padding: 5px 0 10px 0;
}
.two-column .section {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}
.two-column .content {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.content {
    width: 100%;
    padding-top: 20px;
}
.center {
    display: table;
    Margin: 0 auto;
}
img {
    border: 0;
}
img.logo {
    float: left;
    Margin-left: 5%;
    max-width: 200px!important;
}
svg {
  width: 250px;
  height: 98px;
}
#callout {
    float: right;
    Margin: 4% 5% 2% 0;
    height: auto;
    overflow: hidden;
}
#callout img {
    max-width: 20px;
}
.social {
    list-style-type: none;
    Margin-top: 1%;
    padding: 0;
}
.social li {
    display: inline-block;
}
.social li img {
    max-width: 15px;
    Margin-bottom: 0;
    padding-bottom: 0;
}
/*--- Start Outer Table Banner Image, Text & Button --*/
.image img {
    width: 100%;
    max-width: 670px;
    height: auto;
}
.main-table {
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 6px;
}
.one-column .inner-td {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.inner-td {
    padding: 10px;
}
.h2 {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    line-height: 45px;
    Margin: 12px;
    color: #4A4A4A;
}
p.center {
    text-align: center;
    max-width: 580px;
    line-height: 24px;
}
.button-holder-center {
    text-align: center;
    Margin: 5% 2% 3% 0;
}
.button-holder {
    float: right;
    Margin: 5% 0 3% 0;
}
.btn {
    font-size: 15px;
    font-weight: 600;
    background: #81BAC6;
    color: #FFF;
    text-decoration: none;
    padding: 9px 16px;
    border-radius: 28px;
}
.btn-2 {
  font-size: 75px;
    font-weight: 6;
    background: #81BAC6;
    color: #FFF;
    text-decoration: none;
    padding: 10px 26px;
    border-radius: 55px;
}
/*--- Start Two Column Image & Text Sections --*/
.two-column img {
    width: 100%;
    max-width: 280px;
    height: auto;
}
.two-column .text {
    padding: 10px 0;
}
/*--- Start 3 Column Image & Text Section --*/
.outer-table-2 {
	width: 100%;
	max-width: 670px;
	margin: 22px auto;
	background-color: #C2C1C1;
  /*  border-bottom: 3px solid #81B9C3;
    border-top: 3px solid #81B9C3; */
}
.three-column {
    text-align: center;
    font-size: 0;
    padding: 10px 0 30px 0;
}
.three-column .section {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.three-column .content {
    font-size: 16px;
    line-height: 20px;
}
.three-column img {
    width: 100%;
    max-width: 125px;
    height: auto;
}
.outer-table-2 p {
	margin-top: 6px;
	color: #FFF;
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
}
/*--- Start Two Column Article Section --*/
.outer-table-3 {
    width: 100%;
    max-width: 670px;
    margin: 22px auto;
    background-color: #C2C1C1;
    border-top: 3px solid #81B9C3;
}
.h3 {
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	Margin-bottom: 8px;
	color: #4A4A4A;
}
/*--- Start Bottom One Column Section --*/
.inner-bottom {
	padding: 22px;
}
.h1 {
    text-align: center!important;
    font-size: 25px!important;
    font-weight: 600;
    line-height: 45px;
    Margin: 12px 0 20px 0;
    color: #4A4A4A;
}
.inner-bottom p {
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
}
/*--- Start Footer Section --*/
.footer {
	width: 100%;
	background-color: #C2C1C1;
	Margin: 0 auto;
    color: #FFF;
}
.footer  img {
	max-width: 135px;
	Margin: 0 auto;
	display: block;
	padding: 4% 0 1% 0;
}
p.footer {
	text-align: center;
	color: #FFF!important;
	line-height: 30px;
	padding-bottom: 4%;
    text-transform: uppercase;
}
/*--- Media Queries --*/
@media screen and (max-width: 400px) {
	.h1 {
		font-size: 22px;
	}
	.two-column .column, .three-column .column {
		max-width: 100%!important;
	}
	.two-column img {
		width: 100%!important;
	}
	.three-column img {
		max-width: 60%!important;
	}
}
@media screen and (min-width: 401px) and (max-width: 400px) {

	.two-column .column {
		max-width: 50%!important;
	}
	.three-column .column {
		max-width: 33%!important;
}
}
@media screen and (max-width:768px) {
img.logo {
	float:none !important;
	margin-left:0% !important;
	max-width: 200px!important;
}

#callout {
	/*float:none !important;
	margin: 0% 0% 0% 0;
	height: auto;
	text-align:center;
	overflow: hidden; */
  width: 200px;
  height: 98Px;
  color:
}
#callout img {
    max-width:26px !important;
}
.two-column .section {
	width: 100% !important;
	max-width: 100% !important;
	display: inline-block;
	vertical-align: top;
}

.two-column img {
	width: 100% !important;
 	height: auto !important;
}
img.img-responsive {
    width:100% !important;
    height:auto !important;
    max-width:100% !important;
}
.content {
	width: 100%;
	padding-top:0px !important;
}
}
</style>
 </head>
<body>
    <div class="wrapper">
    	<div class="wrapper-inner">
    		<table class="outer-table">
    			<tr>
    			<!--	<td class="header">
    					<p><a href="index.html#">Click to view this email in your browser</a></p>
    				</td> -->
    			</tr> <!--- End Header -->
            </table> <!--- End Outer Table -->
            <table class="main-table-first">
                <tr>
                    <td class="two-column">
                        <div class="section">
                            <table width="100%">
                                <tr>
                                    <td class="inner-td">
                                        <table class="content">
                                            <tr>
                                                <td align="center">
                                                    <img src="https://lh3.googleusercontent.com/eihDGpsHIgo-0T_QWV33jb9-Xc0Kny1ykwotVq96uooIB478e14HX0hcI8lFRmMYWwdwWFo9lJqUZ1otbS2A9Y9EOr5GVB7gDIBde9yio7mBVp1DLl5_Z7tx7985IxqJlOpzl-GJnbDMST7uiAwjKn5s-iRjeFwTLtzriek7Gi7s2RiGNSQSGZchn8ZN758Snq8WMNHk9ekRvi9wHZwKg1J5yDZ6GQzeLhkcSlqIuBRG-Sx1jRtoWc3yiZPC7yapfIBo3QGOD5vJJ2rGxshDkUWePA99ipj-1GQqkb2JufJqPcDn6MNh5y4nCnHinka3MyhxtPTn1t9br5DEaEKy3quPGD5Vz1BPU_biJuBEaCTgZCBI4cMn15Q4G6a2ql1nKvgG6ULSBCk80oAbXxOtecmgMYyjajiEA5mztHgV_PtGN7BhEYBt2htMQe7CB-BbdXLT9jEgH7WPblep3pTXk2TjiIT5c_t-5kKqDDNdJ-Dke_oAsbyfPuDlPeUsP5fBwVrC5QU-q8_YtYFzrPFeskR3EqC0oTr1JKBbwM-X2lV92psHXHZg_YsSI-rTnUH37muwHANcSO7nRtGYmfYTDmSZE23arPr3o3JD-aeYyMwHg_f8PbLY7lMZBEAXbmvLgxzy5HxDKRZLXzbBkhvtXOzqKuhtezdctcOR21vgkBh74kbKTIqkew79m1UkvGcy6lPj6eHOf7iCcyNauG9Kc-bhVC_oDlBPgshG=w1057-h511-no" class="logo">
                                                    <!-- <img src="https://previews.dropbox.com/p/thumb/AAPnNRtDy2QzxsZtkRnLfUeH-5Ln3Ss16ekuaLJhY717PWnLDmj66xS5GTKkFcvLmdhmfSFKDwrjSLCg_-WWIyBE7Rn6lezWKhdSVo3vsTsc13KOEU1Of9c3JWqqnF7nWWl3SfN-uZHlUD5KSmCeVeqRTB_-v3WDnHQDjNkRN8i9dc_gqXaTPp14_6aj5ujRPeQgU6mLluKn477V1bbOKufgap26MdaPw4Da1XisAMUOUw/p.png?size=2048x1536&size_mode=3" class="logo"> -->
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End First Column of Two Columns -->
                        <div class="section">
                            <table width="100%">
                                <tr>
                                    <td class="inner-td">
                                        <table class="content">
                                            <tr>
                                                <td>
                                                    <!-- <img src="https://previews.dropbox.com/p/orig/AAO4Fet6UxtKWDPTg7DU1vW6uF5aZvWPYxtJw9g9MlpON6o3Ct1K8lcMYcwsGltvy7QlWncwBsXHmfgTV898UZp4UF9tOixyTctXARecks9zQQiKmg3qszBUgF6AyA7n9yA8R71MZQM2ysY9bFTcjt5Embpwy-sRTJfYrX6q9jmEtniFm6UMD2L1sKoMy747R_DgELeYCOdKDvpN5FDoXlCh/p.svg?size=2048x1536&size_mode=3" class="Splunklogo"> -->

                                                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 32.81"><defs><style>.cls-1{fill:#81bac6;;} .cls-2{fill:#81bac6;;}</style></defs><title>splunk-logo</title><path class="cls-1 splunkLogo" d="M11.54,19.81a4.36,4.36,0,0,1-.45,2,4.43,4.43,0,0,1-1.26,1.53,6.09,6.09,0,0,1-1.92,1,8,8,0,0,1-2.44.35,8.69,8.69,0,0,1-2.84-.43A8.6,8.6,0,0,1,.12,22.79L1.5,20.53a9,9,0,0,0,1.81,1.22A3.75,3.75,0,0,0,5,22.15a2.48,2.48,0,0,0,1.66-.53,1.79,1.79,0,0,0,.63-1.44,2.29,2.29,0,0,0-.11-.73,2.09,2.09,0,0,0-.42-.69A6.08,6.08,0,0,0,5.88,18q-.53-.42-1.37-1Q3.86,16.5,3.25,16a9.27,9.27,0,0,1-1.11-1,4.68,4.68,0,0,1-.81-1.23A3.74,3.74,0,0,1,1,12.2a4,4,0,0,1,.42-1.82A4.23,4.23,0,0,1,2.59,9a5.3,5.3,0,0,1,1.74-.9,7.21,7.21,0,0,1,2.2-.32A8.82,8.82,0,0,1,9,8.09a8.2,8.2,0,0,1,2.18,1l-1.26,2a4.65,4.65,0,0,0-2.71-.9,2.22,2.22,0,0,0-1.43.45,1.39,1.39,0,0,0-.56,1.13,1.63,1.63,0,0,0,.5,1.16,16.43,16.43,0,0,0,1.72,1.45q1.23.91,2,1.58a8.91,8.91,0,0,1,1.28,1.28,3.59,3.59,0,0,1,.65,1.21,4.88,4.88,0,0,1,.18,1.36"/><path class="cls-1" d="M25.8,16a7.19,7.19,0,0,0-1.07-4.18,3.38,3.38,0,0,0-2.92-1.53,3.57,3.57,0,0,0-3.08,1.63,7.59,7.59,0,0,0-1.14,4.41A7.16,7.16,0,0,0,18.7,20.6a3.58,3.58,0,0,0,3.07,1.55,3,3,0,0,0,1.93-.6A4.5,4.5,0,0,0,24.94,20a7.16,7.16,0,0,0,.67-2,11.48,11.48,0,0,0,.2-2m4.51-.16a10.13,10.13,0,0,1-.58,3.5,8.81,8.81,0,0,1-1.62,2.79,7.22,7.22,0,0,1-5.53,2.52,7.14,7.14,0,0,1-1.39-.13,4.58,4.58,0,0,1-1.23-.44,6.22,6.22,0,0,1-1.15-.79,11.36,11.36,0,0,1-1.18-1.2V32.33H13.47V8.14h4.15l0,2.35A7.44,7.44,0,0,1,20.1,8.41a6.79,6.79,0,0,1,3.07-.66,6.89,6.89,0,0,1,2.89.6A6.78,6.78,0,0,1,28.32,10a7.47,7.47,0,0,1,1.47,2.55,10,10,0,0,1,.52,3.29"/><rect class="cls-1" x="32.15" y="0.59" width="4.25" height="23.67"/><path class="cls-1" d="M50.32,24.26V22.1a8,8,0,0,1-2.52,2,7.09,7.09,0,0,1-3,.6,6.32,6.32,0,0,1-3.21-.76,4.33,4.33,0,0,1-1.89-2.25,3.46,3.46,0,0,1-.24-.74q-.08-.39-.15-.89a11.31,11.31,0,0,1-.08-1.15q0-.65,0-1.58V8.11h4.25v9.24a11.65,11.65,0,0,0,.11,1.87A3.6,3.6,0,0,0,44,20.39a2.73,2.73,0,0,0,2.63,1.36,3.31,3.31,0,0,0,3.31-2,4.59,4.59,0,0,0,.32-1.15,12.45,12.45,0,0,0,.1-1.79V8.11h4.25V24.26Z"/><path class="cls-1" d="M68.67,24.26V15a11.47,11.47,0,0,0-.11-1.87,3.62,3.62,0,0,0-.4-1.16,2.74,2.74,0,0,0-2.63-1.35,4,4,0,0,0-2.06.5,3,3,0,0,0-1.28,1.47,4.55,4.55,0,0,0-.31,1.18,14.69,14.69,0,0,0-.08,1.76v8.7H57.51V8.14H61.8V10.3a8,8,0,0,1,2.52-2,7.08,7.08,0,0,1,3-.6,6.12,6.12,0,0,1,3.22.79,4.5,4.5,0,0,1,1.89,2.24c.09.24.16.48.23.73a7,7,0,0,1,.16.85,10.56,10.56,0,0,1,.08,1.14q0,.66,0,1.6v9.16Z"/><polygon class="cls-1" points="86.57 24.58 80.15 15.68 80.15 24.26 75.86 24.26 75.86 0.59 80.15 0.59 80.15 14.49 80.6 14.49 86.31 7.88 89.53 9.26 84.05 15.13 90.54 23.2 86.57 24.58"/><polygon class="cls-2" points="94.22 23.82 94.22 20.98 104.22 16.06 94.22 11.19 94.22 8.29 107.12 14.77 107.12 17.41 94.22 23.82"/><path class="cls-2" d="M95.47,4.12A1.45,1.45,0,1,1,94,5.56a1.43,1.43,0,0,1,1.44-1.45Zm0,.23a1.19,1.19,0,0,0-1.16,1.22,1.16,1.16,0,1,0,2.32,0,1.19,1.19,0,0,0-1.16-1.23ZM95.2,6.41h-.26V4.79a2.89,2.89,0,0,1,.46,0,.85.85,0,0,1,.5.12.39.39,0,0,1,.15.33.4.4,0,0,1-.32.39h0c.14,0,.24.15.27.39a1.36,1.36,0,0,0,.1.4h-.27A1.19,1.19,0,0,1,95.72,6a.3.3,0,0,0-.35-.28H95.2Zm0-.89h.19c.21,0,.39-.08.39-.28S95.67,5,95.38,5H95.2Z"/></svg>
                                                        <!-- <ul class="social">
                                                            <li><a href="index.html#" target="_blank"><img src="/images/facebook.png"></a></li>
                                                            <li><a href="index.html#" target="_blank"><img src="/images/googleplus.png"></a></li>
                                                            <li><a href="index.html#" target="_blank"><img src="/images/twitter.png"></a></li>
                                                            <li><a href="index.html#" target="_blank"><img src="/images/youtube.png"></a></li>
                                                            <li><a href="index.html#" target="_blank"><img src="/images/instagram.png"></a></li>
                                                        </ul> -->

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End Second Column of Two Columns -->
                    </td>
                </tr> <!--- End Two Column Section -->
                </table> <!--- End Main Table -->
            <table class="outer-table">
    			<!-- <tr>
    				<td class="image">
    					<img src="/images/green-background.png">
    				</td>
    			</tr>--> <!--- End Banner -->
            </table> <!--- End Outer Table -->
            <table class="main-table">
    			<tr>
    				<td class="one-column">
    					<table width="100%">
    						<tr>
    							<td class="inner-td">
    								<p class="h2">{{app}}: Update</p>
    								<p class="center">Last week your {{app}} had the kickoff meeting. This email is an update to keep you informed on your app's progress to being onboarded into Splunk. To learn more about splunk click on the link below </p>
    							<!--	<p class="button-holder-center">
    									<a class="btn" href="#">Learn more</a>
    								</p> -->
    							</td>
    						</tr>
    					</table>
    				</td>
    			</tr> <!--- End Heading, Paragraph & Button Section -->
    			<tr>
    				<td class="two-column">
    					<div class="section">
    						<table width="100%">
    							<tr>
    								<td class="inner-td">
    									<table class="content">
    										<tr>
    											<td>
    												<img src="https://lh3.googleusercontent.com/3bcY02nmpf-EAcGWHtBFMdUoZil_0jmYvBw7O2rldYghablmlqag0YweEmm0yfHpuvPEKe0zGICoPWLDoubjg0hK3sshiYm2nwC3Q8HVM1CJSAMsoacAAEoJNsO9QYOA5G_YRQy-cb6z-CLktLHixeWgAWF7bh9H4F_EX0xq3H3cnL_FFNw_GTr_g5ilcwMhXMPOCerIAgj3LarvgJO5LQL4lD0r3Fb3kZAbYC7qV9XDBx6OPeqOBQYJFpBm61Cx2s6GH_bIT0ZyGZHCvjktj0-8qZonzdNHzWZ4z-CCbE2s4Z49j19stUFG0_CAJGHUuZhbkG10eZL2lAlpxRJYsVjQbKKB2FYcNcldeXii2wDrQl_7gV0mr23HULcph69kfEuscKb0-ciStf6jD48rvx4CtvECUqRueg15Zk7Nev609hAlpbyR9x0fUix8HCnADixU-SLTcbNNby-nUPH1McYMw9AT8PVJGqgIvVvzTdr4a2N6ryEzbZsf5ePkHDBblWZjYvgMDRQeode23vDNu01kra9IvOeXYlzK5xBKffykjXi-TBDsrb1kfQdftkEP5vhhNYV5hJFNpHRaw8yuPudqsdI6F0LojXaMflf48WalY5odl_5w1HlNhK2bESMX1Tc1sCcqClat-4QlDbvGkWsIAxOZd70-umvoGZGZIBw=w600-h321-no" class="img-responsive">
    											</td>
    										</tr>
    										<tr>
    											<td class="text">
    												<p>We want to know what data is important to your team! So we can efficiently search around those parameters and make the analysis from splunk meaningful.</p>
    											</td>
    										</tr>
    									</table>
    								</td>
    							</tr>
    						</table>
    					</div> <!--- End First Column of Two Columns -->
    					<div class="section">
    						<table width="100%">
    							<tr>
    								<td class="inner-td">
    									<table class="content">
    										<tr>
    											<td>
    												<img src="https://lh3.googleusercontent.com/kFwATno5f5k7-iOP6ZBIhng2OuOqKqVBN4CNANTeILNn25N5EIlZBnyBd3JSRF-VfoPwl20mR9jawyhlMbXFy49n9ObUFxwd-SBYrk5RXfaEYfkqOy0Hnt7juirf7LbjbGcIP5TTmQ3vJvsBXqsVmwyNJTj6_TxDG0oCuE24AaEFXKyN6m2mnWuAJICheDk_La0bIDVH2I-Z0sIsSaO2lr18nwbmi4SDKSetOKK57Ix16zDEcs-sre9vMuNIEGEbGWmyke3bGvoxebvK-KjSLQLUWJk4qJTHRiNEAHdz-MtLQu-QtekeFAMOgmU8Reb9U6NwMVMKyAi21fYWFfJUIqnE4ULBUluASxGbXQeA9v9TO6a-vy1huF79xAugC_BvR7sx-8baXWh7ZM6iXtxrLSNwvi6xN2HL3YE7B0SbJrIcBWjrnM7Lh-eFbnh1RVAmVTpKb6dd9EIvcdD73NNzLizxKSGqcD_cGMBQJW9HhX2UaMe4z1nXzq9_4GMQxxJtLBzEXxsB-Oos8g21DFInvixI999Y3LZxp93MglqvyKunlx9Usq_kgfq8L3Uza4KgQ4NBdIRNAJDLgjO2QKW7dYqudCBTYvihXNiskmlnxc5s5MFhPiNmx2iUd64ALja3ae_N7VaiTInd0EstCrQmIPwztSLfuJo0kkeyytG_SZqMyI-cPJUaV0YPuNhnrJwjU2zNoNVpSgvjuoBgyg5gwAX7_RvBycVduOj2=w600-h321-no" class="img-responsive">
    											</td>
    										</tr>
    										<tr>
    											<td class="text">
    												<p>We would love to do a follow up meeting with you to get a conversation started about what is important so we can start building dashboards and alerts for your team.</p>
    											</td>
    										</tr>
    									</table>
    								</td>
    							</tr>
    						</table>
    					</div> <!--- End Second Column of Two Columns -->
    				</td>
    			</tr> <!--- End Two Column Section -->
            </table> <!--- End Main Table -->
           <table class="outer-table-2" style="background-color: #C2C1C1;">
    			<tr>

            <!--
    				<td class="three-column">
    					<div class="section">
    						<table width="100%">
    							<tr>
    								<td class="inner-td">
    									<table class="content">
    										<tr>
    											<td>

    											</td>
    										</tr>
    										<tr>
    											<td class="text">

    											</td>
    										</tr>
    									</table>
    								</td>
    							</tr>
    						</table>
    					</div> --> <!--- End First Column of Three Columns -->
    				<!--	<div class="section">
    						<table width="100%">
    							<tr>
    								<td class="inner-td">
    									<table class="content">
    										<tr>
    											<td>

    											</td>
    										</tr>
    										<tr>
    											<td class="text">

    											</td>
    										</tr>
    									</table>
    								</td>
    							</tr>
    						</table>
    					</div> --> <!--- End Second Column of Three Columns -->
    				<!--	<div class="section">
    						<table width="100%">
    							<tr>
    								<td class="inner-td">
    									<table class="content">
    										<tr>
    											<td>

    											</td>
    										</tr>
    										<tr>
    											<td class="text">

    											</td>
    										</tr>
    									</table>
    								</td>
    							</tr>
    						</table>
    					</div> --> <!--- End Third Column of Three Columns -->
    			<!--	</td> -->
    			</tr>  <!--- End Three Column Section -->
           </table> <!--- End Outer Table 2 -->
            <table class="main-table">
                <tr>
                    <td class="two-column">
                        <div class="section">
                            <table width="100%">
                                <tr>
                                    <td class="inner-td">
                                        <table class="content">
                                            <tr>
                                                <td>
                                                    <img src="https://lh3.googleusercontent.com/MAv2ToZ2pSRR_LFDQje9KVR14Kj43ywHBpt5tkvxrpzemlaJxPG8GEPHiQEfLl6cni6LhVj4o_q-r2M9u_8_NfN-v_D71O8cLdDcB-uructTzN1iv1Id2laUkUQ8ERP9njDlcdMIvCRRQpy9Il5-1MpzvIH4Yz43OMsUZwDKMuEmIOigLjKv9sIR_SlC4YZIm-wQ015I2ZWgduyyClUHuhYAl5o-0NQXzPvXEHcFuPxCTfAA3qzNm4XnS6zpCf7zOmGVQGP1Yz6gfRgmgBevbiBeqN2qv2Xi1ilntPP4XcNfaA8j9Y7ID5EkyjLyXphRlBSYdBwWfbYK0rimSBo76TLsDeIFgY7TD2R6mkryb3kcW-XA0o3JS3EMMC7j5OnRKXNkHjamzYBn36CzlmHUjAkPkjyDha_w2bss2uY8uzxnJ1L7Sj1rPz1aGv1S6Ev0uXZYmne06w4_sTSjaSIslVrBQOehvOivNT916aNTgu3My7nnsBaLVkDxc3qnx4w4RiZ_cxrmirw15VwqWtHeUYfe4f5wKp1RdkkS6cTiXmU9zb-ciYVHt0k4iSf0Q9AXscXhTm-E81w6gg61oa-Yi3b9K9aun83_KPvt6LCVOf44-AZkDXDwEmCGmYZMz7fQm_f_CczX7nN8Um2iIrVbY5C0CLTA-FgtxRdXt-Kpd84hxkea-k7d16N3DEt75cpYdbKsL9aEiHvMBhe9Y-FiW0F73wB55PgTXcM=w600-h389-no" class="img-responsive">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text">
                                                    <p class="h3">Dashboards</p>
                                                    <p>Dashboards are an amazing tool to keep track of how "healthy" your app is and the best part about it is we will make them for you!</p>
                                                    <br>
                                                    <p>Just let us know what you are looking for and our team at the University of Memphis will make some dashboards for you.</p>
                                                    <br>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End First Column of Two Columns -->
                        <!--[if (gte mso 9)|(IE)]>
                        </td><td width="50%" valign="top">
                        <![endif]-->
                        <div class="section">
                            <table width="100%">
                                <tr>
                                    <td class="inner-td">
                                        <table class="content">
                                            <tr>
                                                <td class="text">
                                                    <p class="h3">Alerts</p>
                                                    <p>Alerts can save days and even hours of your app from being offline.</p>
                                                    <br>
                                                    <p>Alerts are searches in splunk that will run every so often and if certain parameters are hit it will notify you that your service is not running correctly.</p>
                                                    <br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src='https://lh3.googleusercontent.com/hUUHKuS_9hTUkKTbngQcKXMmBG-8UgI1PGBZcjN0O3TajfJCPPO5mJbIBchUB-SkUN2wxf83LUZqymloehmcfOE3KBOqZy9IvrnTNHtaWq6QVkxyR5q8xgmZZv1RYJ8PvtPE5CRjgt-VynEMQ7rwHT4aEByimflxt2lQQ7nQO7Dxc-AgS30pKIrHUWZi7bX2Fx-V56sYSwXoeRttMWk5RDIGHc1ekW8-AvYrz_wN8hORL0DO8kkVT_Fc_i8gvLakDeAf9RsmGfCW7yXgT4CcWDMvdrcG98YLyFukzs5_lXSMKZo5UhZhbYR_t1grHS2j9-hOWyqLeDGFdOXmshWa-6bunoSojnLMSlskLq0FNoz9g3n8gYQ0mlEdtea43F4UHvZmpHpsRZHfkpFevL0CFjpjMiKB_U1wgqlSet61kdTrVmAgc_HWI_NYyIUP5PqYx10i6UTqwmnyqGtfLnsOtvJIGudYoKGGfpRahmYO98XedvwYR-bf6-hjrafnYkDfQ0R4FJXRjHn32s75xB7v8LiAs84IIc01WwGbftlt_aIz_3LPS62bYjQPCeQmQcFR7ufz86kb_jaccaKyR007_kaeHAPGrYdyvr3fTTBruvmVoE0BK4tSMXg3GTiWLn6yJ_lv36c79ODcmu-Icbo70Fw0_DZ2WZic74N0q0VARFZ6GUCe0aTSFtjfksTcMEHlBSSiVcupsqz--wzGDeUNtZZ6Z5EOkmwgxi0X=w600-h389-no' class="img-responsive">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End Second Column of Two Columns -->
                    </td>
                </tr> <!--- End Two Column Section -->
                <tr>
                    <td class="one-column">
                        <table width="100%">
                            <tr>
                                <td class="inner-bottom">
                                    <p class="h1">Additional Information</p>
                                    <p>This can be where we can put additional information If you have any additional information you would like to share from the description box</p>

                                  <!--  <div class="button-holder">
                                        <a class="btn" href="#">Learn more</a>
                                    </div> -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr> <!--- End Heading, Text & Button Section -->
            </table> <!--- End Main Table -->
            <table class="outer-table-3">
    			<tr>
    				<td class="one-column">
    					<table width="100%">
    						<tr>
    							<td class="footer">
    								<!--<img src="/images/w3newbie-logo.png">-->
                    <h1 style="text-align:center;">ITCC</h1>
    								<p class="footer">Where minutes matter<br>&copy; FedEx, 2018.<br></p>
    							</td>
    						</tr>
    					</table>
    				</td>
    			</tr>

    		</table> <!--- End Main Table -->
    	</div> <!--- End Wrapper Inner -->
    </div> <!--- End Wrapper -->
    <p class="button-holder-center">
      <button class="btn-2" id="btn" href="#" >Send Email</button>
    </p>

    <script>
    $(document).ready(function() {

      $('#btn').click(function(evt) {
          //evt.preventDefault();
          $.ajax({
            url: 'http://localhost:3000/emailTemplate',
            type: 'GET',
            error: function(error) {
              console.log('Error ' + error);
            },
            success: function(data) {
              var html = data;
              console.log(html);
              $.ajax({
                url: 'http://localhost:3000/send',
                type: 'POST',
                data: html,
                error: function(error) {
                  console.log('Error' + error);
                },
                success: function(response) {
                  console.log(response);
                }
              });
            }

          });
        });
       });
    </script>

</body>
